[user]
    name = baildagq
    email = 13214867244@163.com

[core]
    editor=vim
	  autocrlf = false

[oh-my-zsh]
	  hide-status = 1
[safe]
	directory = /opt/flutter
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
[init]
	defaultBranch = master
