[Unit]
Description=Load VMware shared folders

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/vmhgfs-fuse -o umask=022 -o auto_unmount .host:/E /home/stout/E

[Install]
WantedBy=default.target

#/home/stout/.config/systemd/user/default.target.wants/shared-e.service
#./home/stout/.config/systemd/user/shared-e.service

